.city-hour{
    height: fit-content;
}

.hour-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.hour-container:hover { transform: scale(1.1); }

.hour-container:hover > .top-hour > .hour-temp{
    display: block;
    transition:  .2s ease-in-out;
    opacity: 1;
}

.hour-temp{
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.top-hour{
    display: flex;
}

.hour-feeling{
    text-align: center;
}
